<div class="container">
    <div class="row">
        <div class="col">
            <div class="cart_main">
                {{#each data}}
                <span class="money">На вашем счету: {{user.money}} ₽</span>
                <a class="btn_replenish" href="/users/610526491e5d171478248d56">Пополнить счет</a>
                <h1>Корзина</h1>
                    {{#each medications}}
                        <div class="cart_item">
                            <img src="{{image}}" alt="">
                            <span>{{name}}</span>
                            <span>{{price}} ₽</span>
                            <a href="{{_id}}/del"><svg xmlns="http://www.w3.org/2000/svg" width="30"  fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                            </svg></a>
                        </div>
                    {{/each}}
                    <div class="total">К оплате: {{total}}</div>
                    <a class="btn_buy" href="buy/cart">Произвести оплату</a>
                    <a class="btn_clear" href="clear/cart">Очистить корзину</a>
                {{/each}}
            </div>
        </div>
     </div>
</div>